.checkout {
   display: flex ;
   padding: 20px ;
   /* background-color: white ; */
   height: max-content ; 
}

.checkout-left {
    margin-right: 40px ;
    min-width: 800px ;
    max-width: 1500px ;
}

.checkout-ad{
    width: 100% ;
    margin-bottom: 10px ;

}

.checkout-title {
    margin-right: 10px ;
    padding: 10px ;
    font-style: 'Source Sans Pro';
    font-size: 40px ;
    font-weight: 500;
    border-bottom: 1px solid lightgray ;
}

.user-greeting {
    font-size: 30px ;
    font-weight: 500 ;
}